In [2]:
import pandas as pd
import numpy as np

After we scaped the events data from yelp API. we divided them into two types:
    1- Future events 
    2- Past events

In [2]:
future_events=pd.read_csv('yelp_future_events.csv')

In [3]:
future_events['Start Date'].max()

'2022-08-18T00:00:00-04:00'

In [4]:
past_events=pd.read_csv('yelp_past_events.csv')

In [15]:
past_events.head()

,Unnamed: 0,Neighborhood,Event,Event Latitude,Event Longitude,Event Category,Start Date,End Date
0,0,Chinatown,Rock the Yacht Saturdays! New York City Party ...,40.705014,-74.003739,nightlife,2020-10-03T20:30:00-04:00,2020-11-01T00:00:00-04:00
1,1,Chinatown,The Bacon and Beer Classic is Coming Brooklyn ...,40.725147,-73.954472,food-and-drink,2020-09-26T12:00:00-04:00,NaN
2,2,Chinatown,"SBNNL presents: Shop, Sip & Paint - On The Patio",40.715894,-73.959261,other,2020-09-26T18:30:00-04:00,NaN
3,3,Chinatown,MvVO ART presents AD ART SHOW 2020,40.711505,-74.011386,visual-arts,2020-09-02T11:00:00-04:00,2020-09-30T19:00:00-04:00
4,4,Chinatown,Unbound Perspectives,40.749356,-74.004695,visual-arts,2020-09-26T11:00:00-04:00,2020-10-17T18:00:00-04:00

In [6]:
events=pd.concat([past_events, future_events],ignore_index=True)

In [7]:
# Group by the dataframe according to the neighborhoods
events=events.groupby(['Neighborhood']).count()

In [14]:
events

,Unnamed: 0,Event,Event Latitude,Event Longitude,Event Category,Start Date,End Date
Neighborhood,,,,,,,
Auburndale,3,3,3,3,3,3,0
Battery Park City,50,50,50,50,50,50,26
Bedford Stuyvesant,50,50,50,50,50,50,16
Beechhurst,3,3,3,3,3,3,0
Blissville,2,2,2,2,2,2,1
...,...,...,...,...,...,...,...
Williamsburg,50,50,50,50,50,50,27
Windsor Terrace,50,50,50,50,50,50,34
Wingate,1,1,1,1,1,1,0
Woodside,46,46,46,46,46,46,25
Yorkville,50,50,50,50,50,50,21

In [8]:
events.loc[events.duplicated(subset=['Event','Event Latitude', 'Event Longitude', 'Start Date'])==True]

,Unnamed: 0,Event,Event Latitude,Event Longitude,Event Category,Start Date,End Date
Neighborhood,,,,,,,
Bedford Stuyvesant,50,50,50,50,50,50,16
Beechhurst,3,3,3,3,3,3,0
Brownsville,1,1,1,1,1,1,0
Bushwick,50,50,50,50,50,50,19
Carnegie Hill,50,50,50,50,50,50,21
...,...,...,...,...,...,...,...
West Village,80,80,80,80,80,80,41
Williamsburg,50,50,50,50,50,50,27
Windsor Terrace,50,50,50,50,50,50,34
Wingate,1,1,1,1,1,1,0
Yorkville,50,50,50,50,50,50,21

In [9]:
number_of_events=events.groupby(['Neighborhood']).count().sort_values(by=['Event'], ascending=False)

In [10]:
number_of_events['Number of Events']=number_of_events['Event']

In [11]:
# drop columns not in concern
number_of_events=number_of_events.drop(['Unnamed: 0', 'Event Latitude', 'Event','Event Longitude', 'Event Category', 'Start Date', 'End Date'], axis=1)

In [12]:
number_of_events

                     Number of Events
Neighborhood
Auburndale                          1
North Corona                        1
Queensbridge                        1
Queensboro Hill                     1
Prospect Park South                 1
...                               ...
Financial District                  1
Erasmus                             1
East Williamsburg                   1
East Village                        1
Yorkville                           1

[86 rows x 1 columns]

In [3]:
# Exporting the Yelp events data into csv file

working_dataframe=pd.read_csv('working_dataframe_7.csv')

In [ ]:
working_dataframe=working_dataframe.merge(number_of_events, on='Neighborhood', how='left')

In [ ]:
working_dataframe

In [ ]:
working_dataframe.loc[working_dataframe['Number of Events'].isna()].count() #222/306 (72%) nbhoods do not have events.

In [ ]:
# Replace NaN with value of 0
working_dataframe['Number of Events']=working_dataframe['Number of Events'].replace(np.nan, 0)

In [ ]:
working_dataframe.to_csv('working_dataframe_2.csv', index=False)